html
  head
    title= title
  body
    h1 Heimalið
    ul
    each val in homeTeamStartUp
        li
            span= val.TreyjuNumer
            span -
            span= val.LeikmadurNafn
    div
        a(href = '/file/homeTeam/homeTeamStartUp/'+gameNumber) Sækja textaskrá
    
    ul
    each val in homeTeamSubs
        li
            if val.TreyjuNumer
                span= val.TreyjuNumer
                span -
            span= val.LeikmadurNafn
            if !val.TreyjuNumer
                span= val.StadaNafn
    div
        a(href = '/file/homeTeam/homeTeamSubs/'+gameNumber) Sækja textaskrá

    h1 Útilið
    ul
    each val in awayTeamStartUp
        li
            span= val.TreyjuNumer
            span -
            span= val.LeikmadurNafn
    div
        a(href = '/file/awayTeam/awayTeamStartUp/'+gameNumber) Sækja textaskrá
    
    ul
    each val in awayTeamSubs
        li
            if val.TreyjuNumer
                span= val.TreyjuNumer
                span -
            span= val.LeikmadurNafn
            if !val.TreyjuNumer
                span= val.StadaNafn
    div
        a(href = '/file/awayTeam/awayTeamSubs/'+gameNumber) Sækja textaskrá
            